<div ng-controller="AuthenticationViewController as auth_ctrl">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-3 text-center">
                <h3>Authentication</h3>
                <form>
                    <fieldset class="form-group">
                        <label for="usernameInput">Username: </label>
                        <input id="usernameInput" type="text" class="form-control" placeholder="username" data-ng-model="auth_ctrl.username">
                    </fieldset>
                    <fieldset class="form-group">
                        <label for="passwordInput">Password: </label>
                        <input id="passwordInput" type="password" class="form-control" placeholder="password" data-ng-model="auth_ctrl.password">
                    </fieldset>
                    <div>
                        <button class="btn btn-primary" data-ng-click="auth_ctrl.authenticate()">Login</button>
                    </div>
                </form>
                <span id="auth_error_message" class="hidden text-red">Username o password errati. Riprovare.</span>
            </div>
        </div>
    </div>
</div>
