<div ng-controller="AuthenticationViewController as ctrl">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-3 text-center">
                <h3>Authentication</h3>
                <form>
                    <fieldset class="form-group">
                        <input type="text" class="form-control" placeholder="username" data-ng-model="ctrl.username">
                    </fieldset>
                    <fieldset class="form-group">
                        <input type="password" class="form-control" placeholder="password" data-ng-model="ctrl.password">
                    </fieldset>
                    <div>
                        <button class="btn btn-primary" data-ng-click="ctrl.authenticate()">Login</button>
                    </div>
                </form>
                <span id="auth_error_message" class="text-red" style="display: none;">Username o password errati. Riprovare.</span>
            </div>
        </div>
    </div>
</div>
